
/* general styling */

body:not(.main-title) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}

*:not(code) {
    font-family: 'Open Sans', sans-serif;
}

.main-title {
    position: sticky;
    text-align: center;
    margin-top: 0;
    padding: 50px;
    width: 100%;
    font-size: 7px;
    font-weight: 1600;
    background-image: radial-gradient(#553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    

}

h1 {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    display: inline;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    color:darkgray;
    letter-spacing: 5px;
}

.all-sections {

    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: unsafe;
    height: max-content;
    width: max-content;
    padding: 40px;
    margin: 80px 20px 20px 20px;
    border: black dotted 1px;
    max-width: 40%;
    border-radius: 5%;
    box-shadow: 0px 5px 5px grey;
    


}

.all-sections:hover {
    background-color: lightgrey;
}
/* Tables */

th, td {
    padding: 20px;
    text-align: center;
    border: black solid 0.5px;
    border-radius: 3%;
    width: max-content;

}

.heading-paragraph {
    margin: 40px;
}

tr {
    width: fit-content;
}

.tr-grey {
    background-color: gray;
    opacity: 60%;
    color: white;
}

/* Headings Section */

.cheatsheet-headings {
    margin-top: 100px;
    border: 1px black solid;
    margin-top: 60px;
}
