
* {
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 5px;
}


body {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: #82E0AA ;
    

}

.all-sections {
   
    position:relative;
    width: 50%;
    margin: 40px;
    padding: 40px;
    align-items: center;
    background-color: white;
    align-content: center;
}
.all-tables{
    margin: 20px auto;
}


td {
    padding: 20px;
    border-color: red;
    
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2F3F4;
}

tbody {
    margin-top: 30px;
    border: 1px solid black;
}

#japanese-text-left {
    
    position:fixed;
    left: 0px;
    width: auto;
    height: 100%;
    background-color: yellow;    
    align-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border: none;
    position: absolute;
    text-align:left;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    border: 1px solid black;
    padding-top: 150px;
}

#japanese-text-right {
    
    position:fixed;
    right: 0px;
    width: auto;
    height: 100%;
    background-color: yellow;    
    align-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border: none;
    position: absolute;
    text-align:left;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    border: 1px solid black;
    padding-top: 150px;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px black;
    border-right: 1px solid transparent;
    border-radius: 0%;
    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate;
}

@keyframes blink { 
    50% { border-color: black; } 
 }


h2 {
    font-size: 30px;
    text-align: center;
}

.all-title-paragraphs {
    text-align: center;
}

.title-css-html {
    text-align: center;
    height: auto;
    width: auto;
    border: solid 1px white;
    color: white;
    font-size: 40px;
    padding: 30px;
    box-shadow: 1px 1px 2px black;
    border-radius: 5px;
}

td, tr, th{
    border: 1px solid black; 
    margin-top: 5px;
    text-align: center;
}

th, .tr-grey {
    background-color: lightgray;
}